@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxaminum', cursive;
}

body{
    text-align: center;
    background-color:  rgb(82, 191, 255);
    min-height: 100vh;
}

main{
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex{
    width: 100%;
    max-width: 425px;
}

.pokemon_image{
    position: absolute;
    left: 0;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 20%);
    height: 18%;
}

.pokemon_data{
    position: absolute;
    font-weight: 600;
    color: rgb(131, 131, 131);
    top: 54.5%;
    right: 27%;
    font-size: clamp(8px, 5vw, 25px);
}

.pokemon_name{
    color:rgb(80, 78, 78) ;
    text-transform: capitalize;
}

.form{
    position: absolute;
    background-color: rgb(209, 3, 3);
    width: 65%;
    top: 65%;
    left: 13.5%;
}

.input__search{
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid rgb(32, 32, 32);
    font-weight: 600px;
    color: black;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 4px 0px gray ;
}

.buttons{
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20%;
}

.button{
    width: 50%;
    padding: 4%;
    border: 2px solid rgb(32, 32, 32);
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: azure;
    background-color: rgb(37, 37, 37);
    box-shadow: -2px 3px 0 rgb(107, 105, 105) ;
}

.button:active{
    box-shadow: inset -4px  4px 0 rgb(104, 104, 104) ;
    font-size: 0.9rem;
}